*{
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
}

.begin h1 {
    color: #34495E;
    font-size: 60px;
    display: inline-block;
}

.begin {
    padding: 5px;
    font-family: Courier New, Courier, monospace;
}

.begin div {
    padding-top: 20px;
    margin-right: 5px;
    float: right;
}

.begin div ul, li {
    display:inline-block;
    margin-left: 20px;
    float: right;
    font-size: 25px;
    font-family: Courier New, Courier, monospace;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:400px;
    height:auto;
    display:block;
    z-index:999;
}

.my {
    float: left;
    width: 50;
    padding: 5px;
  }

.css {
    float: left;
    width: 50;
    padding: 5px;
  }

.me {
    display: inline-block;
}

body {
    background-color: lightblue;
  }
